@charset "utf-8";
/* CSS Document */
body { margin-top:0px;
	   max-width:1920px;
       overflow: hidden;
	   margin:auto;
	   height:100%
}

header {
	resize: both;
  	overflow: hidden;
	width:100%;
	height:100px;
	border: red;
	border-style: solid;
	margin:auto;
	background-color: #333;
	box-sizing: border-box;
  min-width: 1016px;
}
#logo {
    
	width: 250px;
  height:100px;
	float: left;
	border:#4612F5;
	border-style: solid;
	text-align:center;
	box-sizing: border-box;
}
#titling {

	width:50%;
  height:100px;
	float: left;
	border:green;
	border-style: solid;
	text-align:center;
	box-sizing: border-box;
  min-width: 1016px;
}
/** This is where all of my text fonts and colours will sit **/
h1 {
	font-size: 40px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
h2 {
	font-size: 40px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  color:white;
}

.navbar {

	resize: both;
  	overflow: hidden;
	width:100%;
	height:70px;
    background-color: #333;
    margin:auto;
	border:#B007B9;
	border-style: solid;
	box-sizing: border-box;
	text-align: center;
  line-height: 60px;
  min-width: 1016px;

}

.navbar a {
margin:auto;
  display: inline;
  color: #f2f2f2;
  padding: 15px 75px;
  text-decoration: none;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  font-size: 30px;
  text-align:center;
  
}

/* Change color on hover */
.navbar a:hover {

  background-color: #ddd;
  color: black;
}

.content {
  resize: both;
  overflow: hidden;
  width:100%;
  height:700px;
  border: #ECC805;
  border-style: solid;
  background-color: #FEFFFF;
  box-sizing: border-box;
}
.leftbittop {

  height: inherit;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  text-align:center;
  float:left;
  width: 25%;
  height:350px;
  border:#06EE66;
  border-style: solid;
  box-sizing: border-box;
}
.rightbittop {
  margin: 0px,0px,0px,0px;
  height:inherit;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  text-align:center;
  float:left;
  width: 25%;
  height:350px;
  border:#06EE66;
  border-style: solid;
  box-sizing: border-box;
}

/* Slideshow container */
.mainbittop {
  width: 50%;
  position: relative;
  margin: auto;
  height: 350px;
  float: left;
}


.leftbit {

  height: inherit;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  text-align:center;
  float:left;
  width: 25%;
  height:350px;
  border:#06EE66;
  border-style: solid;
  box-sizing: border-box;
}
.mainbottom {

  height:inherit;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  text-align:center;
  float:left;
  width: 50%;
  height: 350px;
  border:#06EE66;
  border-style: solid;
  box-sizing: border-box;
}
.rightbit {
  margin: 0px,0px,0px,0px;
  height:inherit;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  text-align:center;
  float:left;
  width: 25%;
  height:350px;
  border:#06EE66;
  border-style: solid;
  box-sizing: border-box;
}